@using CMPE312_PROJECT.Models.Entity;
@model Player
@{
    ViewBag.Title = "DeletePlayer";
}
<h2>DeletePlayer</h2>

<form method="post" action="~/Player/DeletePlayer">
    <ul>
        <li><label>Name<input name="Name" value="@Model.Name" type="text" /></label></li>
        <li><label>Surname<input name="Surname" value="@Model.Surname" type="text" /></label></li>
    </ul>

    <p><input type="submit" value="Delete Player" /></p>

</form>