@using CMPE312_PROJECT.Models.Entity;
@model Comment

@{
    ViewBag.Title = "Comment Team";
}
<script>
    function submit() {

        var comment = document.getElementById("comment");
        @Model.CommentValue= comment.text;

    }

</script>

<h2>Comment Team</h2>


<!--Html.DropDownList("ID", new SelectList(ViewBag.Teams, "ID", "Name"))-->
<form method="post" action="~/Comment/CommentTeam" id="commentForm">    
    <p>
        <select name="TeamName">
            @foreach (Team team in (List<Team>)ViewData["Teams"])
            {
                <option value="@team.Name">@team.Name</option>
            }
        </select>
    </p>

    <!--<input type="hidden" name="TeamName" val />--> 
    <label>Comment<input name="CommentValue" id="comment" type="text" /></label>
    <p><input type="submit"  value="Add Comment" /></p>
</form>


<div >



</div>