@using CMPE312_PROJECT.Models.Entity;
@model Comment
@{
    ViewBag.Title = "Comments of a Team";
}
<script type="text/JavaScript">
    window.onload = function () {
        try { // Firefox, Opera, IE7
            request = new XMLHttpRequest()
        }
        catch (e) {
            try { // IE6
                request = new ActiveXObject('MSXML2.XMLHTTP.5.0')
            }
            catch (e) {
                request = false
            }
        }
        if (!request) alert('Ajax setup failed')
    }

    function checkTeam() {
        if (!request) return
        var team = get("selectTeam")
        var teamName = team.value
        //var prefix = "GALATASARAY"
        var url = "/Comment/GetTeamComments?teamName=" + teamName
        request.open("GET", url, true)
        request.onreadystatechange = updatePage
        request.send(null)
    }

    function updatePage() {
        if (request.readyState == 4) {
            if (request.status == 200) {
                var response = request.responseText
                if (response != "") {
                    var comments = response.split(",")
                    var commentParagraph = ''
                    for (var i = 0; i < comments.length - 1; i++) {
                        commentParagraph += '<p>' + comments[i] + '</p>\n'
                        console.log(comments[i])
                        console.log(response)
                    }
                    console.log(commentParagraph)
                    get('alert').innerHTML = ""
                    get('comments').innerHTML = commentParagraph
                } else {
                    get('comments').innerHTML = ""
                    get('alert').innerHTML = "There is no comment about the team."
                }
                }

            else {
                alert("Error: status code " + request.status)
            }
        }
    }
    function get(id) { return document.getElementById(id) }
</script>
<style>
    #comments p {
        border-width: 1.5px;
        border-style: dashed;
        width: 200px;
        background-color: lightgray;
    }

</style>
<h2>Comments of a Team</h2>

<form method="get" action="~/Comment/ListTeamComments" >
    <p><label>Choose Team</label></p>
    <p>
        <select name="TeamName" id="selectTeam" onchange="checkTeam()">
            <option selected="selected">-</option>
            @foreach (Team team in (List<Team>)ViewData["Teams"])
            {
                <option value="@team.Name">@team.Name</option>
            }
        </select>
    </p>
    <div id="comments">
    </div>
    <div id="alert">
    </div>
</form>