@using CMPE312_PROJECT.Models.Entity;
@model Comment
@{
    ViewBag.Title = "Comment Player";
}
<script type="text/JavaScript">
    window.onload = function () {
        try { // Firefox, Opera, IE7
            request = new XMLHttpRequest()
        }
        catch (e) {
            try { // IE6
                request = new ActiveXObject('MSXML2.XMLHTTP.5.0')
            }
            catch (e) {
                request = false
            }
        }
        if (!request) alert('Ajax setup failed')
    }

    function checkTeam() {
        if (!request) return
        var team = get("selectTeam")
        var teamName = team.value
        var url = "/Team/GetTeamPlayers?teamName=" + teamName
            request.open("GET", url, true)
            request.onreadystatechange = updatePage
            request.send(null)
    }
    function checkPlayerComments() {
        if (!request) return
        var player = get("players")
        var playerId = player.value
        var team = get("selectTeam")
        var teamName = team.value
        //var prefix = "GALATASARAY"
        var url = "/Comment/GetPlayerComments?teamName=" + teamName + "&playerId=" + playerId
        request.open("GET", url, true)
        request.onreadystatechange = updatePagePlayer
        request.send(null)
    }
    function updatePage() {
        if (request.readyState == 4) {
            if (request.status == 200) {
                var response = request.responseText
                var players = response.split(",")
                var selectPlayer = ''
                for (var i = 0; i < players.length; i = i + 2){
                    selectPlayer += '<option value="' + players[i] + '">' + players[i + 1] + '</option>\n'
                    console.log(players[i])
                    console.log(players[i + 1])
                    console.log(response)
                }
                console.log(selectPlayer)
                //get('players').value = response
                get('players').innerHTML = selectPlayer
            }
            else {
                alert("Error: status code " + request.status)
            }
        }
    }
    function updatePagePlayer() {
        if (request.readyState == 4) {
            if (request.status == 200) {
                var response = request.responseText
                var comments = response.split(",")
                var commentParagraph = ''
                for (var i = 0; i < comments.length - 1; i++) {
                    commentParagraph += '<p>' + comments[i] + '</p>\n'
                    console.log(comments[i])
                    console.log(response)
                }
                console.log(commentParagraph)
                //get('players').value = response
                get('comments').innerHTML = commentParagraph
            }
            else {
                alert("Error: status code " + request.status)
            }
        }
    }
    function get(id) { return document.getElementById(id) }
</script>

<style>
    #comments p {
        border-width: 1.5px;
        border-radius: 25px;
        border-style: dashed;
        width: 50px;
        background-color: lightgray;
    }
</style>

<h2>Comment Player</h2>

<form method="get" action="~/Comment/ListPlayerComments">
    <p><label>Choose Team</label></p>
    <p>
        <select name="TeamName" id="selectTeam" onchange="checkTeam()">
            @foreach (Team team in (List<Team>)ViewData["Teams"])
            {
                <option value="@team.Name">@team.Name</option>
            }
        </select>
    </p>
    <div>
        <p>Choose Player</p>
        <select id="players" name="PlayerId" onchange="checkPlayerComments()"></select>
    </div>
    <div id="comments">
    </div>
</form>