@using CMPE312_PROJECT.Models.Entity;
@model Credential
@{
    ViewBag.Title = "Change User Password";
}

<h2>ChangeUserPassword</h2>

<form method="post" action="~/Authentication/ChangeUserPassword">
    <p><label>Choose User</label></p>
    <p>
        <select id="UserId" name="UserId">
            <option selected="selected">-</option>
            @foreach (User user in (List<User>)ViewData["Users"])
            {
                <option value="@user.UserID">@user.Name</option>
            }
        </select>
    </p>
    <p><input type="text" name="Password1" /></p>
    <!--<input type="hidden" name="TeamName" val />-->
    <p><input type="submit" value="Change User Password" /></p>
</form>
