@using CMPE312_PROJECT.Models.Entity;
@model Credential
@{
    ViewBag.Title = "GetUserInfo";
}

<h2>GetUserInfo</h2>

<form method="post" action="~/Authentication/GetUserInfo">

    <p>Name: @Model.Name</p> <p><input name="Name" type="text" /></p>
    <p>E-mail: @Model.Email</p> <p><input name="Email" type="text" /></p>

    <p><input type="submit" value="Change Information" /></p>

    <p><a href="~/Authentication/UserChangePassword">Change Password</a></p>
</form>