@using CMPE312_PROJECT.Models.Entity;
@model Credential
@{
    ViewBag.Title = "UserChangePassword";
}

<script type="text/javascript">
    document.getElementById('1').value = '@Model.Name';

</script>

<h2>Change Password</h2>

<form method="post" action="~/Authentication/UserChangePassword">
    <ul>
        <li><label>Current Password<input name="OldPassword" value="@Model.OldPassword" type="password" /></label></li>
        <li><label>New Password<input name="Password1" value="@Model.Password1" type="password" /></label></li>
        <li><label>New Password Again<input name="Password2" value="@Model.Password2" type="password" /></label></li>
    </ul>

    <input type="submit" value="Save Changes" />

</form>