@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Yolunda A.S.<br />
    Ankara, Çinçin<br />
    <abbr title="Phone">P:</abbr>
    +900 850 888 88 88
</address>

<!--<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>-->