@using CMPE312_PROJECT.Models.Entity;
@model Team
@{
    ViewBag.Title = "DeleteTeam";
}

<h2>DeleteTeam</h2>

<form method="post" action="~/Team/DeleteTeam">
    <ul>
        <li>
            <p>
                <select name="Name">
                    @foreach (Team team in (List<Team>)ViewData["Teams"])
                    {
                        <option value="@team.Name">@team.Name</option>
                    }
                </select>
            </p>
        </li>
    </ul>

    <p><input type="submit" value="Delete Team" /></p>

</form>